.tile.white {
  background-color: white;
}

.tile.black {
  background-color: gray;
}


#chessboard {
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
  background-color: blueviolet;
  height: 800px;
  width: 800px;
}
#chessboard .tile {
  width: 100px;
  height: 100px;
  display: grid;
  place-content: center;
}

#chessboard .tile img {
  width: 80px;
}

#app {
  height: 100vh;
  display: grid;
  place-content: center;
}
#root{
  width: 100%;
}
